@tailwind base;
@tailwind components;
@tailwind utilities;

.animate__animated.animate__fadeInLeft {
    --animate-duration: 2s;
  }
.animate__animated.animate__fadeInDown {
    --animate-duration: 1.8s;
  }

.card{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.fade-in{
    opacity: 1;
}